@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes border-rotate {
  to {
      --border-angle: 360deg;
  }
}

.animate-border-rotate {
  animation: border-rotate 10s infinite linear;
}

/* Animation for color shift */
@keyframes hoverShift {
    0%, 100% {
      --hover-color: #f43f5e;
    }
    20% {
      --hover-color: #10b981;
    }
    40% {
      --hover-color: #3b82f6;
    }
    60% {
      --hover-color: #8b5cf6;
    }
    80% {
      --hover-color: #ec4899;
    }
  }
  
  .animate-border-hoverShift {
    animation: hoverShift 20s infinite linear;
  }
  
  .glow-on-hover {
    box-shadow: 0 0 15px var(--hover-color);
  }
  
  .glow-on-hover:hover {
    box-shadow: 0 0 30px var(--hover-color);
  }
  

/* Animation for border color shift */

@keyframes colorShift {
    0%, 100% {
      background: linear-gradient(to right, #f43f5e, #f97316);
    }
    20% {
      background: linear-gradient(to right, #10b981, #6ee7b7);
    }
    40% {
      background: linear-gradient(to right, #3b82f6, #60a5fa);
    }
    60% {
      background: linear-gradient(to right, #8b5cf6, #d8b4fe);
    }
    80% {
      background: linear-gradient(to right, #ec4899, #f9a8d4);
    }
  }

  .animate-border-colorShift {
    animation: colorShift 20s infinite linear;
  }


